.main2{
	padding-bottom: 66px;
}
.main3{
	width: 82.72327964860908%;
	margin: 0 auto;
	padding-bottom: 136px;	
}
.m3_title{
	/*width: 23.89380530973451%;*/
	border-left: 8px solid #d6000f;
	margin-bottom: 50px;

}
.m3_title h2{
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 16px;
	margin-left: 19px;
}
.m3_title p{
	font-size: 18px;
	color:#868686;
	margin-left: 19px;
}
/*m3*/
.li_title{
	font-size: 20px;
	line-height: 60px;
	
}
.li_title img{
	width: 20px;
	float: right;
	margin-right: 55px;
}
.main3 ul{
	width: 97.61061946902655%;
	margin-left: 2.049780380673499%;
	
}
.main3 li{
		background-color: #f0f0f0;
		margin-bottom: 2px;
		font-weight: bold;
}
.li_title{

	margin-left: 5.258386219401632%;
}
.li_main{
	margin: 0 auto;
	width: 80%;
	padding-bottom: 50px;	
	transition: all 1s;
	overflow: hidden;
}
.li_main p{
	line-height: 37px;
}
.li_main h4{
	padding-top: 20px;	
	line-height: 40px;
} 
.h0{
	display: none;
}
/*m4*/
.main4{
	width: 82.72327964860908%;
	margin: 0 auto;
	padding-bottom: 130px;
}

.m4_left{
	width: 42.92035398230088%;
	margin-left: 2.049780380673499%;
	margin-top: 85px;
	float: left;
	line-height: 30px;
	font-size: 16px;
}
.m4_right{
	width: 52.8558476881233%;
	float: right;
}
/*m5*/
.main5{
	width: 82.72327964860908%;
	margin: 0 auto;
	padding-bottom: 82px;
}
.m5_contant{
	margin-left: 2.389380530973451%;
}
.m5_contant h4{
	font-size: 20px;
	font-weight: bold;
	line-height: 66px;
}
.m5_contant p{
	font-size: 16px;
	line-height: 28px;
	padding-bottom: 36px;
}
.m5_img{
	padding-bottom: 45px;
}
.wrap_m8{
	width: 100%;
	background-color: #eeeeee;
}
